@charset "utf-8";
/* CSS Document */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right {
	position:relative;
	padding:15px;
	margin:0;
	width:130px;
	font-size:14px;
	font-family:'Cabin', sans-serif;
    color:#FFF;	
	background:#063ec1; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#5f7cc1), to(#063ec1));
	background:-moz-linear-gradient(#5f7cc1, #063ec1);
	background:-o-linear-gradient(#5f7cc1, #063ec1);
	background:linear-gradient(#5f7cc1, #063ec1);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
	margin:10px 0 0 0;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#063ec1), to(#5f7cc1));
	background:-moz-linear-gradient(#063ec1, #5f7cc1);
	background:-o-linear-gradient(#063ec1, #5f7cc1);
	background:linear-gradient(#063ec1, #5f7cc1);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
	margin-left:40px;
	background:#063ec1;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
	margin-right:40px;
	background:#063ec1;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#063ec1 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #063ec1; 
}

/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
	top:16px; 
	left:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #063ec1; 
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
	top:16px; 
	right:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
	border-color:transparent #063ec1 ; 
}


/* THE SPEECH BUBBLE2
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right2 {
	position:relative;
	padding:15px;
	margin-top:10px;
	margin-left:2px;
	margin-bottom:5px;
	margin-right:2px;
	width:130px;
	font-size:14px;
	font-family:'Cabin', sans-serif;
    color:#FFF;
	background:#1574e1; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2c89f3), to(#1574e1));
	background:-moz-linear-gradient(#2c89f3, #1574e1);
	background:-o-linear-gradient(#2c89f3, #1574e1);
	background:linear-gradient(#2c89f3, #1574e1);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right2.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2c89f3), to(#1574e1));
	background:-moz-linear-gradient(#2c89f3, #1574e1);
	background:-o-linear-gradient(#2c89f3, #1574e1);
	background:linear-gradient(#2c89f3, #1574e1);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right2.left {
	margin-left:40px;
	background:#1574e1;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right2.right {
	margin-right:40px;
	background:#1574e1;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right2:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:20px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#1574e1 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right2.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #1574e1; 
}

/* Variant : left
------------------------------------------ */

.triangle-right2.left:after {
	top:16px; 
	left:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #1574e1; 
}

/* Variant : right
------------------------------------------ */

.triangle-right2.right:after {
	top:16px; 
	right:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
	border-color:transparent #1574e1 ; 
}



/* THE SPEECH BUBBLE2
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right3 {
	position:relative;
	padding:15px;
	margin-top:0px;
	margin-left:2px;
	margin-bottom:30px;
	margin-right:2px;
	width:130px;
	font-size:14px;
	font-family:'Cabin', sans-serif;
    color:#FFF;
	background:#4099FF; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#499EEF), to(#4099FF));
	background:-moz-linear-gradient(#499EEF, #4099FF);
	background:-o-linear-gradient(#499EEF, #4099FF);
	background:linear-gradient(#499EEF, #4099FF);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right3.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#499EEF), to(#4099FF));
	background:-moz-linear-gradient(#499EEF, #4099FF);
	background:-o-linear-gradient(#499EEF, #4099FF);
	background:linear-gradient(#499EEF, #4099FF);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right3.left {
	margin-left:40px;
	background:#4099FF;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right3.right {
	margin-right:40px;
	background:#4099FF;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right3:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:20px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#4099FF transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right3.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #4099FF; 
}

/* Variant : left
------------------------------------------ */

.triangle-right3.left:after {
	top:16px; 
	left:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #4099FF; 
}

/* Variant : right
------------------------------------------ */

.triangle-right3.right:after {
	top:16px; 
	right:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
	border-color:transparent #4099FF ; 
}
