@media screen and (max-width: 992px) and (min-width: 651px){
    .header_nouveau {
        width: 100%;
    }
    #pictos_rs_move {
        padding-right: 1%;
    }
    #pictos_rs_move, .taillebase_menu {
        width: 20%;
    }
    .div_header_container {
        text-align: center;
    }
    .logo_fin {
        margin-left: 2%;
    }
    .div_header_container.show {
        margin-top: 0;
    }
    #home {
        margin-top: 23%;
    }
    #logo_scroll.show {
        margin-top: 0;
    }
    .div_header_container.show {
        display: block;
    }
}
                .taillemodif_menu {
                        width: 5%;
                    }
                @media screen and (min-width: 993px){
                    .header_nouveau {
                        width: 1140px;
                    }
                    #pictos_rs_move, .taillebase_menu {
                        width: 13%;
                    }
                    
                    .div_header_container.show {
                        margin-top: 0;
                    }
                    #home {
                        margin-top: 17%;
                    }
                    #logo_scroll.show {
                        margin-top: 0;
                    }
                    .div_header_container.show {
                        display: block;
                    }
                }
                .header_nouveau {
                    background-color: white;
                    position: fixed;
                    top: 0;
                    display: inline-block;
                    z-index: 99;
                }
                #dl-menu {
                    float: left;
                    height: 100px;
                    line-height: 100px;
                }
                #pictos_rs_move {
                    float: right;
                    text-align: right;
                }
                #pictos_rs_move p {
                    margin: 0 0 10px 0;
                }
                #pictos_rs_move > p:nth-child(1) {
                    margin-top: 10px;
                }
                #logo_scroll{
                    display: none;
                }
                #logo_scroll.show {
                    display: block;
                    transition: .5s all;
                }
                #logo_scroll.hide {
                    display: none;
                    transition: .5s all;
                    margin-top: -300px;
                }
                .div_header_container.show {
                    transition: .5s all;
                }
                .div_header_container.hide {
                    transition: .5s all;
                    margin-top: -150px;
                }
                #div_connexion_esp {
                    background-color: white;
                }